<%
  form_object ||= @form
%>

<%= form_with model: form_object, url: [:account, @prompt, :execute], local: true, class: 'form' do |form| %>
  <%= render "shared/limits/form", form: form, cancel_path: [:account, @prompt] do %>
    <%= render 'account/shared/forms/errors', form: form %>

    <% with_field_settings form: form do %>
      <%= render 'shared/fields/text_field', method: :label, options: {autofocus: true} %>
      <%= render 'shared/fields/super_select', method: :models, choices: form_object.model_choices, html_options: {multiple: true}, other_options: {search: true} %>
      <% form_object.arguments.each do |argument| %>
        <%= render 'shared/fields/super_select', method: argument.underscore, choices: form_object.input_item_choices, html_options: {multiple: true}, other_options: {search: true} %>
      <% end %>
    <% end %>
    <div class="buttons">
      <%= form.submit t('.buttons.preview'), class: "button" %>
      <% if form_object.preview? %>
        <%= form.submit t('.buttons.execute'), class: "button" %>
      <% end %>
      <%= link_to t('global.buttons.cancel'), [:account, @prompt], class: "button-secondary" %>
    </div>

    <div>
      <% if form_object.preview? %>
        <div class="text-lg font-bold underline my-4">Preview:</div>
        <% if form_object.empty_args? %>
          <div class="bg-amber-100 p-2 rounded-md border-amber-200 border-2">
            Empty <span class="font-mono bg-red-100 p-0.5 rounded-md border-red-200 border-2">{{arguments}}</span> will be left blank in the submitted prompt.
          </div>
        <% end %>

        <% preview_prompt = form_object.preview_prompt_text %>
        <% if preview_prompt[:system].present? %>
          <div class="font-bold font-mono">System prompt:</div>
          <div class="bg-gray-100 p-2 rounded-md">
            <code>
              <%= tpl(preview_prompt[:system], color: "red") %>
            </code>
          </div>
          <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700 last:hidden">
        <% end %>
        <% if preview_prompt[:user].present? %>
          <div class="font-bold font-mono">User prompt:</div>
          <div class="bg-gray-100 p-2 rounded-md">
            <code>
              <%= tpl(preview_prompt[:user], color: "red") %>
            </code>
          </div>
        <% end %>
      <% end %>

      <div class="text-lg font-bold underline my-4">Template:</div>
      <% if form_object.prompt.system_prompt_sections.present? %>
        <div class="font-bold font-mono">System prompt:</div>
        <div class="bg-gray-100 p-2 rounded-md">
          <code>
            <% form_object.prompt.system_prompt_sections.each do |section| %>
              <div title="<%= "#{section.name}: #{section.description.to_plain_text}" %>">
                <%= tpl section.contents %>
              </div>
              <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700 last:hidden">
            <% end %>
          </code>
        </div>
      <% end %>

      <% if form_object.prompt.user_prompt_sections.present? %>
        <div class="font-bold font-mono">User prompt:</div>
        <div class="bg-gray-100 p-2 rounded-md">
          <code>
            <% form_object.prompt.user_prompt_sections.each do |section| %>
              <div title="<%= "#{section.name}: #{section.description.to_plain_text}" %>">
                <%= tpl section.contents %>
              </div>
              <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700 last:hidden">
            <% end %>
          </code>
        </div>
      <% end %>
      
    </div>
  <% end %>
<% end %>
