<% prompt = @prompt || @prompt %>
<% context ||= prompt %>
<% collection ||= :prompt_executions %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% with_attribute_settings object: prompt_execution do %>
  <tr data-id="<%= prompt_execution.id %>">
    <%= render "shared/tables/checkbox", object: prompt_execution %>
    <td><%= render 'shared/attributes/text', attribute: :label, url: account_prompt_all_outputs_path(prompt, prompt_execution) %></td>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
    <td><%= render 'shared/attributes/text', attribute: :model %></td>
    <td><%= prompt_execution.outputs.count %></td>
    <td class="buttons">
      <% unless hide_actions %>
        <%# if can? :edit, prompt_execution %>
          <%#= link_to t('.buttons.shorthand.edit'), [:edit, :account, prompt_execution], class: 'button-secondary button-smaller' %>
        <%# end %>
        <%# if can? :destroy, prompt_execution %>
          <%#= button_to t('.buttons.shorthand.destroy'), [:account, prompt_execution], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(prompt_execution)) }, class: 'button-secondary button-smaller' %>
        <%# end %>
        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
      <% end %>
    </td>
  </tr>
<% end %>
