<%= render 'account/shared/page' do |page| %>
  <% page.title "Outputs for #{@prompt.name} - #{@execution.label}" %>
  <% page.body do %>
    <% with_attribute_settings object: @execution, strategy: :label do %>
      <div class="space-y-4">
        <div class="group">
          <label class="block text-2xs uppercase font-semibold dark:text-white">
            Compiled Parameters (?)
          </label>
          <div class="dark:bg-zinc-800 bg-gray-100 p-2 rounded-md hidden group-hover:block">
            <pre class="whitespace-pre-wrap highlight"><code><%= pretty_print_json(@execution.compiled_parameters).html_safe %></code></pre>
          </div>
        </div>
        <div class="group">
          <label class="block text-2xs uppercase font-semibold dark:text-white">
            Parameters Summary (?)
          </label>
          <div class="dark:bg-zinc-800 bg-gray-100 p-2 my-0 rounded-md hidden group-hover:block">
            <pre class="whitespace-pre-wrap highlight"><code><%= pretty_print_json(@execution.parameters_summary_enriched).html_safe %></code></pre>
          </div>
        </div>
      </div>
    <% end %>

    <%= button_to "Execute All Again", [:account, @execution, :execute_all_again], method: :post, class: first_button_primary %>

    <% @outputs.sort_by { |output| output.created_at }.reverse.each do |output| %>
      <%= cable_ready_updates_for output do %>
        <%= render 'account/shared/box', divider: true do |box| %>
          <% box.title "#{output.prompt_execution.model}" %>
          <% box.description do %>
            <%#= t('.description') %>
            <%#= t('.manage_description') if can? :manage, output %>
          <% end %>

          <% box.shortcut_buttons do %>
            <div class="group">
              <span class="text-white group-hover:text-black">Tokens (in/out):<%= output.input_tokens %>/<%= output.output_tokens %> // <%= output.message_id_api %></span>
              ?
            </div>
          <% end %>

          <% box.body do %>
            <% with_attribute_settings object: output, strategy: :label do %>
              <div class="bg-gray-100 p-2 rounded-md">
                <code>
                  <%= simple_format output.results %>
                </code>
              </div>
              <%# 🚅 super scaffolding will insert new fields above this line. %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <%# 🚅 super scaffolding will insert new children above this line. %>
    <% end %>
  <% end %>
<% end %>
