<%= render 'account/shared/page' do |page| %>
  <% page.title "Outputs for #{@prompt.name} - #{@execution.label}" %>
  <% page.body do %>
    <% with_attribute_settings object: @execution, strategy: :label do %>
      <div class="space-y-4">
        <div class="group">
          <label class="block text-2xs uppercase font-semibold dark:text-white">
            Compiled Parameters (?)
          </label>
          <div class="dark:bg-zinc-800 bg-gray-100 p-2 rounded-md hidden group-hover:block">
            <pre class="whitespace-pre-wrap highlight"><code><%= pretty_print_json(@execution.compiled_parameters).html_safe %></code></pre>
          </div>
        </div>
        <div class="group">
          <label class="block text-2xs uppercase font-semibold dark:text-white">
            Parameters Summary (?)
          </label>
          <div class="dark:bg-zinc-800 bg-gray-100 p-2 my-0 rounded-md hidden group-hover:block">
            <pre class="whitespace-pre-wrap highlight"><code><%= pretty_print_json(@execution.parameters_summary_enriched).html_safe %></code></pre>
          </div>
        </div>
        <div class="group">
          <label class="block text-2xs uppercase font-semibold dark:text-white">
            Models (?)
          </label>
          <div class="dark:bg-zinc-800 bg-gray-100 p-2 my-0 rounded-md hidden group-hover:block">
            <pre class="whitespace-pre-wrap highlight"><code><%= @execution.linked_executions.map(&:model).join(', ') %></code></pre>
          </div>
        </div>

      </div>
    <% end %>

    <%= button_to "Execute All Again", [:account, @execution, :execute_all_again], method: :post, class: first_button_primary %>

    <% 
      grouped_outputs = @outputs.group_by { |output| output.prompt_execution.model }
    %>

    <% grouped_outputs.each do |model, outputs| %>
        <%= render 'account/shared/box', divider: true do |box| %>
          <% box.title "#{model}" %>

          <% box.body do %>
            <% outputs.sort_by(&:created_at).reverse.each_with_index do |output, index| %>
              <%= cable_ready_updates_for output do %>
                <% with_attribute_settings object: output, strategy: :label do %>
                  <div class="bg-gray-100 p-2 rounded-md relative">
                    <div class="group float-right">
                      <span class="hidden group-hover:block w-64 bg-gray-200 p-2 rounded-md font-mono text-2xs absolute right-0">
                        <b>Tokens (in/out):</b> <%= output.input_tokens %>/<%= output.output_tokens %><br/>
                        <b>MSG ID:</b> <%= output.message_id_api %><br/>
                        <%= time_ago_in_words(output.created_at) %> ago
                      </span>
                      <span class="block group-hover:hidden">?</span>
                    </div>
                    <code>
                      <%= simple_format output.results %>
                    </code>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
    <% end %>
  <% end %>
<% end %>
