<% team = @team || @team %>
<% context ||= team %>
<% collection ||= :intelligence_credentials %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% with_attribute_settings object: intelligence_credential do %>
  <tr data-id="<%= intelligence_credential.id %>">
    <%= render "shared/tables/checkbox", object: intelligence_credential %>
    <td><%= render 'shared/attributes/text', attribute: :api_key, url: [:account, intelligence_credential] %></td>
    <td><%= render 'shared/attributes/text', attribute: :class_name %></td>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
    <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
    <td class="buttons">
      <% unless hide_actions %>
        <% if can? :edit, intelligence_credential %>
          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, intelligence_credential], class: 'button-secondary button-smaller' %>
        <% end %>
        <% if can? :destroy, intelligence_credential %>
          <%= button_to t('.buttons.shorthand.destroy'), [:account, intelligence_credential], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(intelligence_credential)) }, class: 'button-secondary button-smaller' %>
        <% end %>
        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
      <% end %>
    </td>
  </tr>
<% end %>
