<% project = @project || @project %>
<% context ||= project %>
<% collection ||= :prompts %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% with_attribute_settings object: prompt do %>
  <tr data-id="<%= prompt.id %>">
    <%= render "shared/tables/checkbox", object: prompt %>
    <td><%= render 'shared/attributes/text', attribute: :name, url: [:account, prompt] %></td>
    <td><%= prompt.parent.nil? ? "Root Prompt" : prompt.parent.name %></td>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
    <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
    <td class="buttons">
      <% unless hide_actions %>
        <% if can? :edit, prompt %>
          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, prompt], class: 'button-secondary button-smaller' %>
        <% end %>
        <% if can? :destroy, prompt %>
          <%= button_to t('.buttons.shorthand.destroy'), [:account, prompt], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(prompt)) }, class: 'button-secondary button-smaller' %>
        <% end %>
        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
      <% end %>
    </td>
  </tr>
<% end %>
