<% input_types = input_types.accessible_by(current_ability) %>
<% project = @project %>
<% context ||= project %>
<% collection ||= :input_types %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% pagy ||= nil %>
<% pagy, input_types = pagy(input_types, page_param: :input_types_page) unless pagy %>

<%= action_model_select_controller do %>
  <% cable_ready_updates_for context, collection do %>
    <%= render 'account/shared/box', pagy: pagy do |box| %>
      <% box.title t(".contexts.#{context.class.name.underscore}.header") %>
      <% box.description do %>
        <%= t(".contexts.#{context.class.name.underscore}.description#{"_empty" unless input_types.any?}") %>
        <%= render "shared/limits/index", model: input_types.model %>
      <% end %>

      <% box.table do %>
        <% if input_types.any? %>
          <table class="table">
            <thead>
              <tr>
                <%= render "shared/tables/select_all" %>
                <th><%= t('.fields.name.heading') %></th>
                <%# 🚅 super scaffolding will insert new field headers above this line. %>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'account/input_types/input_type', collection: input_types, locals: { hide_actions: true } %>
            </tbody>
          </table>
        <% end %>
      <% end %>

      <% box.actions do %>
        <% unless hide_actions %>
          <% if context == project %>
            <% if can? :create, InputType.new(project: project) %>
              <%= link_to t('.buttons.new'), [:new, :account, project, :input_type], class: "#{first_button_primary(:input_type)} new" %>
            <% end %>
          <% end %>

          <%# 🚅 super scaffolding will insert new targets one parent action model buttons above this line. %>
          <%# 🚅 super scaffolding will insert new bulk action model buttons above this line. %>
          <%= render "shared/bulk_action_select" if input_types.any? %>

          <% unless hide_back %>
            <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:input_type)} back" %>
          <% end %>
        <% end %>
      <% end %>

      <% box.raw_footer do %>
        <%# 🚅 super scaffolding will insert new action model index views above this line. %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
